@import '../../colors';
@import '../../sizes';

.cta-wrapper {
  padding: 1.9rem $content-padding;
  text-align: center;
  box-shadow: 0 15px 15px -15px rgba(38, 38, 38, 1);
  background-color: $primary-color;
  color: #fff;

  h1 {
    margin-top: 0;
    font-size: 1.8rem;
  }
}

.container {
  background-color: white;
}

.introduction {
  margin: 3em 0;
  padding: $content-padding;
  text-align: center;
  font-size: 1.4rem;
}

.section-container {
  > *:not(:first-child) {
    margin-top: 3rem;
  }
}

section {
  $border: 10px solid $queen-blue;
  padding: 0 3rem;

  &:nth-child(even) {
    border-right: $border;

    h2 {
      text-align: right;
    }
  }

  &:nth-child(odd) {
    border-left: $border;
  }

  h2 {
    margin-top: 0;
    padding-bottom: 0.5em;
    font-size: 1.4rem;
    color: $queen-blue;
  }

  p {
    text-align: justify;
  }

  ul, ol {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }
}

.provider-container {
  display: grid;
  grid-auto-flow: column;

  .link {
    display: block;
    text-align: center;
  }
}

#providers img {
  height: 1.2rem;
  max-width: 8rem;
  vertical-align: middle;
}

#generate-urls-form-wrapper {
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba($grey-light, 0.5);

  p {
    text-align: center;
  }

  .fa-bell {
    color: $secondary-color;
  }
}

#security {
  p:before {
    margin-right: 10px;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free', serif;
    content: '\f023';
    color: $secondary-color;
  }
}

#result-container {
  display: grid;
  row-gap: 1em;
  margin-top: 2rem;
  font-size: 0.8rem;
  overflow: hidden;

  .result {
    display: flex;
    align-items: center;
    line-height: 1rem;
    text-decoration: none;

    &-logo-wrapper {
      $logo-width: 150px;
      width: $logo-width;

      & > img {
        max-width: $logo-width;
      }
    }

    & > span {
      margin-left: 2rem;
      white-space: nowrap;
      background: linear-gradient(to right, #000 0%, $grey-light 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.link {
  padding: 10px;
  transition: .5s;

  &:hover, &:active {
    background-color: rgba($grey-light, 0.5);
  }
}

@media screen and (max-width: 960px) {
  .provider-container {
    grid-auto-flow: row;
  }

  #result-container {
    .result {
      &-logo-wrapper {
        $logo-width: 70px;
        width: $logo-width;

        & > img {
          max-width: $logo-width;
        }
      }

      & > a {
        max-width: 125px;
      }
    }
  }
}
