<div id="modal-select-gmail-labels" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Labels Gmail disponibles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Pour plus de sécurité et de rapidité, vous pouvez sélectionner le label pour lequel vos newsletters d'annonces immobilières sont taguées :</p>
                <form id="form-gmail-labels" role="form" method="post" action="">
                    <div id="label-input-container"></div>
                    <button type="submit" class="btn btn-primary">OK</button>
                </form>
            </div>
        </div>
    </div>
</div>
