@import 'colors';
@import 'sizes';
@import 'loader';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

html {
  box-sizing: border-box;
  font-size: $default-font-size;
  font-family: Arial;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $grey-light;
}

main {
  & > * {
    margin: 0 auto;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $footer-height;
  text-align: center;
  background-color: $primary-color;
  color: #ffffff;

  p {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: underline;
    color: white;

    &:first-child {
      display: flex; // Force link to match wrapped GitHub logo
    }
  }
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: $page-width;
}

.unknown {
  color: $silver;
}

@media screen and (max-width: 576px) {
  html {
    font-size: $min-font-size;
  }
}
