@import 'colors';
@import 'sizes';
@import 'loader';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: $grey-light;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $footer-height;
    text-align: center;
    background-color: $primary-color;
    color: #ffffff;
}

.container {
    & > * {
        margin: 0 auto;
    }
}

.content {
    max-width: $page-width;
}

.unknown {
    color: $silver;
}

@media screen and (max-width: 576px) {
    html {
        font-size: 14px;
    }
}
