@import 'colors';
@import 'sizes';
@import 'components/loader';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

html {
  box-sizing: border-box;
  font-size: $default-font-size;
  font-family: Arial;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $grey-light;
}

main {
  & > * {
    margin: 0 auto;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $footer-height;
  text-align: center;
  background-color: $primary-color;
  color: #ffffff;

  a {
    text-decoration: underline;
    color: white;
  }

  .footer-logo-link {
    img {
      display: block;
    }

    + p {
      margin-left: 0.5rem;
    }
  }
}

a {
  text-decoration: none;
  color: black;
}

input, select, button {
  &:focus {
    outline: none;
  }
}

.container {
  max-width: $page-width;
}

.unknown {
  color: $silver;
}

@media screen and (max-width: 576px) {
  html {
    font-size: $min-font-size;
  }
}
