@import 'colors';

$border-radius: 5px;
$height: 2.2rem;
$lateral-padding: 0.8em;

.dropdown {
  display: flex;
  align-items: center;
  line-height: $height;
  border: 1px solid $grey-dark;
  border-radius: $border-radius;
  background-color: #fff;

  &--without-label {
    select {
      border-radius: $border-radius;
    }
  }

  &--without-border {
    border: none;
  }

  label, select {
    color: $grey-dark;
  }

  label {
    padding: 0 $lateral-padding;
    border-right: solid 1px;
  }

  select {
    flex: 1;
    height: $height;
    padding-left: $lateral-padding;
    padding-right: 35px;
    border: none;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('../images/chevron-down-solid.svg');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 1em auto, 100%;
  }
}
