@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/tooltip';
@import 'colors';
@import 'variables';
@import 'dropdown';
@import 'checkbox';

$margin: 10px;

#property-ad-container {
  margin-top: 10px;

  & > *:not(:first-child) {
    margin-top: 15px;
  }
}

.user-section {
  display: flex;
  width: $page-width;
  margin: 0 auto;
  padding: 10px 0;

  .avatar {
    margin-left: auto;
    height: 32px;
    width: 32px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .btn-signout {
    padding: 0 12px;
    line-height: 28px;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    background: #f8f8f8;
    color: #666;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    cursor: pointer;

    &:hover {
      border-color: #c6c6c6;
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      background-image: linear-gradient(top, #fff, #f8f8f8);
      background-color: #fff;
    }
  }
}

#filter-form {
  display: flex;
  justify-content: center;
  padding: $margin;
  background-color: $primary-color;

  & > *:not(:first-child) {
    margin-left: $margin
  }

  button[type=submit] {
    border: none;
    border-radius: $border-radius;
    background-color: $vivid-tangello;
    color: #ffffff;
    cursor: pointer;
  }
}

.result-section {
  display: flex;
  align-items: center;
  margin-top: $margin;

  > *:not(:first-child) {
    margin-left: $margin
  }

  #result-count {
    font-weight: bold;
    font-size: 18px;
  }

  .dropdown {
    select {
      border: solid 1px grey;
    }
  }
}
