@import '../../colors';

$height: 2.2rem;
$lateral-padding: 0.8em;
$font-size: 0.8rem;
$border-radius: 5px;
$border-width: 1px;
$border-type: solid;
$border-color: $grey-dark;
$border: $border-width $border-type $grey-dark;
$selected-color: $secondary-color;
