<div class="cta-wrapper">
    <h1>Facilitez votre recherche d'appartements maintenant</h1>
    <div id="btn-google-authorize" class="g-signin2" data-width="240" data-height="50" data-longtitle="true" data-theme="dark"></div>
</div>
<h2>Qu'est-ce que Immo'Scrap ?</h2>
<p>
    Immo'Scrap est un site développé par un particulier indépendant dont l'objectif est de centraliser les annonces immobilières qui vous intéressent.<br>
</p>
<h2>Pourquoi l'utiliser ?</h2>
<p>
    Chercher un appartement est souvent une tâche fastidieuse. Deux choix nous sont souvent offerts :
</p>
<h2>Comment ça marche ?</h2>
<p>
    Immo'Scrap extrait les informations pertinentes qui se trouvent dans vos newsletters d'annonces immobilières, les filtre (retire les annonces en double, notamment), puis les affiche.<br>
    Les plateformes d'annonces immobilières traitables sont :
</p>
<h2>Que faut-il faire pour utiliser le site ?</h2>
<ol>
    <li>Au préalable, s'<b>inscrire aux newsletters</b> de recherche d'appartement qui conviennent à vos critères sur les plateformes d'annonces immobilières citées ci-dessus.</li>
    <li>Ensuite, <b>connecter son compte Gmail</b> à Immo'Scrap via le bouton ci-dessus</li>
    <li>Consulter Immo'Scrap aussi longtemps que vous n'aurez pas trouvé votre chez-vous !</li>
</ol>
<h2>Qu'en est-il de la confidentialité ?</h2>
<p>
    Immo'Scrap traite <b>uniquement</b> des mails provenant d'adresses mail utilisées par des sites d'annonces immoblières.
    Aucune donnée personnelle n'est stockée. Seul un cookie créé par Google lors de la connexion avec la plateforme est utilisé.
    La liste <b>exhaustive</b> des adresses mail traitée est la suivante :
</p>
<ul>
    <li>no_reply@bienici.com</li>
    <li>no-reply@fnaim.fr</li>
    <li>no.reply@leboncoin.fr</li>
    <li>news@logicimmo.nmp1.com</li>
    <li>alerte@news.ouestfrance-immo.com</li>
    <li>seloger@al.alerteimmo.com</li>
</ul>
