@import '../colors';
@import '../components/form/checkbox';
@import '../components/form/dropdown';
@import '../components/form/field';

$border-radius: 5px;

#generate-urls-form {
  display: grid;
  grid-template:
          "a a a a b b b b c c c c h h"
          "d d d e e e f f f g g g h h";
  column-gap: 5px;
  row-gap: 5px;
  margin-top: 3rem;

  button[type=submit] {
    padding: 1rem;
    border: none;
    border-radius: $border-radius;
    background-color: $secondary-color;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
  }
}

.grid {
  &-a {
    grid-area: a;
  }
  &-b {
    grid-area: b;
  }
  &-c {
    grid-area: c;
  }
  &-d {
    grid-area: d;
  }
  &-e {
    grid-area: e;
  }
  &-f {
    grid-area: f;
  }
  &-g {
    grid-area: g;
  }
  &-h {
    grid-area: h;
  }
}

@media screen and (max-width: 960px) {
  #generate-urls-form {
    grid-template: none;
    grid-auto-flow: row;
  }

  [class*="grid-"] {
    grid-area: unset;
  }
}
