@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/tooltip';
@import '../sizes';
@import '../colors';

$spacing: 0.6rem;

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: $footer-height*1.25;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.user-section {
  display: flex;
  max-width: $page-width;
  margin: 0 auto;
  padding: $spacing 0;

  > *:not(:first-child) {
    margin-left: $spacing;
  }

  .avatar {
    margin-left: auto;
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }

  .btn-signout {
    padding: 0 12px;
    line-height: 28px;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    background: #f8f8f8;
    color: #666;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    cursor: pointer;

    &:hover {
      border-color: #c6c6c6;
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      background-image: linear-gradient(top, #fff, #f8f8f8);
      background-color: #fff;
    }
  }
}

.result-section {
  display: flex;
  align-items: center;
  margin-top: $spacing;

  > *:not(:first-child) {
    margin-left: $spacing;
  }

  #result-count {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .dropdown {
    select {
      border: solid 1px $silver;
    }
  }
}

#property-ad-container {
  display: grid;
  row-gap: 0.9em;
  margin-top: $spacing;
}

@media screen and (max-width: 960px) {
  .user-section {
    padding: $spacing $content-min-padding;
  }

  #filter-form {
    grid-auto-flow: row;
    justify-content: normal;
    padding: $content-min-padding;

    select {
      max-width: none;
      flex: 1;
    }

    label {
      width: 30%;
    }
  }

  .container {
    padding: 0 $content-min-padding;
  }

  #property-ad-container {
    row-gap: $content-min-padding;
  }
}
