@import 'colors';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    background-color: $grey-light;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}
