@import 'colors';

.homepage-body {
    background-color: $primary-color;
}

.homepage-header {
    margin-top: 10em;
}

.homepage-content {
    margin-top: 5em;
    padding: 20px;
    background-color: $grey-light;
    border-radius: 20px;

    h2 {
        color: $primary-color;
    }
}

.cta-wrapper {
    margin: 0 auto;
    width: max-content;
    padding: 20px;
    text-align: center;
    border: solid 1px $grey-light;
    border-radius: 20px;
    background-color: $primary-color;
    color: $grey-light;
}

#btn-google-authorize {
    margin: 0 auto;
    width: 240px;
}
