.property-ad {
    position: relative;
    background-color: white;
    box-shadow: 0 0 12px 0 rgba(38, 38, 38, 0.2);

    &:hover {
        box-shadow: 0 0 24px 0 rgba(38, 38, 38, 0.2);
    }

    &__link {
        display: flex;
    }

    &__photo {
        width: 300px;
    }

    &__fields-wrapper {
        padding: 10px;
    }

    &__field {
        line-height: 15px;

        &--unknown {
            color: grey;
        }
    }

    &__price {
        margin: 0 auto;
    }

    &__provider-logo {
        height: 20px;
    }

    &__new-build-tag {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__duplicate-container {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

.property-ad-duplicate {
    &__link {
        display: flex;
    }

    &__photo {
        height: 30px;
    }

    &__label {
        margin-left: 10px;
        align-self: center;
    }

    &__provider-logo {
        height: 12px;
    }
}
