@import '../colors';

$height: 2.2rem;
$lateral-padding: 0.8em;
$border-radius: 5px;

.input {
  line-height: $height;
  padding-left: $lateral-padding;
  border: 1px solid $grey-dark;
  border-radius: $border-radius;
  background-color: #fff;
  font-size: 0.8rem;
}
