<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Immo' Scrap{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="loader" data-text></div>
        {% block header %}{% endblock %}
        <div class="container">
            {% block main %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script async defer src="https://apis.google.com/js/api.js"
                    onload="window.handleClientLoad();"
                    onreadystatechange="if (this.readyState === 'complete') this.onload()">
            </script>
            <script src="https://apis.google.com/js/platform.js?hl=fr&onload=renderSigninButton" async defer></script>
        {% endblock %}
    </body>
</html>
