<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}BoussImmo{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
            {% endblock %}
        </header>
        <main>
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
        </main>
        <footer>
            <a class="footer-logo-link" href="https://github.com/Bouss/immoscrap">
                <img src="{{ asset('build/github.svg') }}" alt="GitHub" />
            </a>&nbsp;
            <p>
                Dans un souci de parfaite transparence, le code de ce projet est disponible&nbsp;<a class="underline" href="https://github.com/Bouss/immoscrap">ici</a>.
            </p>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
